/Hololens_Unity_Template/Temp
/Hololens_Unity_Template/Hololens_Unity_Template.sln
/Hololens_Unity_Template/Hololens_Unity_Template.csproj
/Hololens_Unity_Template/Library
/Hololens_Unity_Template/.vs
/Hololens_Unity_Template/App/.vs
/Hololens_Unity_Template/App/GeneratedProjects
