/Hololens_Unity_Template/Temp
/Hololens_Unity_Template/Hololens_Unity_Template.sln
/Hololens_Unity_Template/Hololens_Unity_Template.csproj
/Hololens_Unity_Template/Library
/Hololens_Unity_Template/.vs
/Hololens_Unity_Template/App/.vs
/Hololens_Unity_Template/App/GeneratedProjects
/Hololens_Unity_Template/App/Hololens_Unity_Template/bin
/Hololens_Unity_Template/App/Hololens_Unity_Template/Assembly-CSharp-firstpass.dll
/Hololens_Unity_Template/App/Hololens_Unity_Template/Assembly-CSharp-firstpass.pdb
/Hololens_Unity_Template/App/Hololens_Unity_Template/Assembly-CSharp.dll
/Hololens_Unity_Template/App/Hololens_Unity_Template/Assembly-CSharp.pdb
/Hololens_Unity_Template/App/Hololens_Unity_Template/UnityEngine.HoloLens.dll
/Hololens_Unity_Template/App/Hololens_Unity_Template/UnityEngine.HoloLens.pdb
/Hololens_Unity_Template/App/Hololens_Unity_Template/UnityEngine.Networking.dll
/Hololens_Unity_Template/App/Hololens_Unity_Template/UnityEngine.Networking.pdb
/Hololens_Unity_Template/App/Hololens_Unity_Template/UnityEngine.UI.dll
/Hololens_Unity_Template/App/Hololens_Unity_Template/UnityEngine.UI.pdb
/Hololens_Unity_Template/App/Hololens_Unity_Template/UnityEngine.VR.dll
/Hololens_Unity_Template/App/Hololens_Unity_Template/UnityEngine.VR.pdb
/Hololens_Unity_Template/App/Hololens_Unity_Template/UnityEngine.dll
/Hololens_Unity_Template/App/Hololens_Unity_Template/UnityEngine.pdb
/Hololens_Unity_Template/App/Hololens_Unity_Template/WinRTLegacy.dll
/Hololens_Unity_Template/App/Hololens_Unity_Template/obj
/Hololens_Unity_Template/App/Hololens_Unity_Template/project.lock.json
